<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <connectionStrings>
      <add name="StockConn" connectionString="Data Source=.;Initial Catalog=Stock;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="Stock.Properties.Settings.StockConnectionString" connectionString="Data Source=.;Initial Catalog=Stock;Integrated Security=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>